.toolbar-tools-container{
    margin: 0.5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput-guias-items{
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.searchInput-guias-items h5{
    margin: 0 0.5rem 0 0;
}

.searchInput-guias-items input{
    border: none;
    background-color: #e4e4e4;
    height: 0.7rem;
    max-width: 15rem;
    width: 100%;
    padding: 9px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.searchInput-guias-items input:focus{
    outline: none;
    background-color: #ededed;
}

.searchInput-guias-items input:hover{
    outline: none;
    background-color: #ededed;
}

.checkbox-container{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}