.sidemenu-container{
    background-color: #fff;
    width: 10rem;
    height: calc(100vh - 5rem);
    margin: 0;
}

.sidemenu-container p{
    font-weight: 700;
    color: #08406e;
}

.list-item{
    cursor: pointer;
    margin: 0;
    line-height: 2.5rem;
    padding-left: 15px;
    transition: background-color 0.1s;
}

.list-item:active, .list-item:hover{
    background-color: #f0f0f0;
}