.reportes-container{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 50rem;
    margin: 0 auto;
}

.data-table{
    margin: auto;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
}

.reportes-tools-container{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.reportes-tools-container h3{
    margin-right: 0.3rem;
}